{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Цыганов Даниил</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Всем привет, меня зовут Даниил)
          Мне 16 лет, живу в городе Санкт-Петербурге.
        </p>
        <p>Давно увлекаюсь программированием, всегда привлекала эта сфера, поэтому я хочу, чтобы мое увлечение вскоре стало моей профессией!</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img align='center' src="https://4.bp.blogspot.com/-ZkImp-ahcII/WLsaMk2DsRI/AAAAAAAAA50/vW1isrcAHEovRC9OgbX-E4Hnb4S-c8v4QCLcB/s320/programlamaya-ba%25C5%259Fl%25C4%25B1yorum-getproknowledge.jpg">
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Контакты для связи</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Телефон: +7 (964) 322-83-94</p>
      <p>Почта: <a href="mailto: daniil.tsiganov@gmail.com">daniil.tsiganov@gmail.com</a></p>
      <p>Телеграм: @raze123q</p>
      <p>Профиль на GitHub: <a href='https://github.com/Munkushi'>Munkushi</p></a>
    </div>
  </div>
</div>
{% endblock %}